/* .center-buttons {
    text-align: center;
}
 */
.center-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Adjust the height to your preference */
}

.center-buttons h2 {
    color: #FF9400;
}
