/* .container {
    margin: 0 0rem;
    padding: 0 2rem;
}
.row {
    display: flex;
    margin-bottom: 2rem;
}

.col-width {
    width: 50%;
}

.shop-img {
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.shop-info {
    padding: 2rem 0 0 2rem;
    font-size: 1.2rem;
    line-height: 170%;

}
@media only screen and (max-width: 955px) {
    .col-width {
        width: 100%;
    }
} */

.container {
    margin: 0 0rem;
    padding: 0 2rem;
}

.row {
    display: flex;
    margin-bottom: 2rem;
}

.col-width {
    width: 50%;
}

.shop-img {
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.shop-info {
    padding: 2rem 0 0 2rem;
    font-size: 1.2rem;
    line-height: 170%;
}

.pastry-button  {
    font-size: 24px;
    padding: 2rem 10rem;
    border-style: none;
    border-radius: 0 30px 30px 0;

}



@media only screen and (max-width: 955px) {
    .col-width {
        width: 100%;
    }
    .row {
        flex-wrap: wrap; /* Allow items to wrap onto new rows */
    }
    .pastry-button  {
        font-size: 18px;
        padding: 2rem 7rem;
        border-style: none;
    }
    
}
